*~
.DS_Store

funknoza/data
funknoza/.jobs
tests/.jobs

src/pynoza/*.so
src/pynoza/*.c

rust/target/
target/
build/

tests/data

venv/
.ipynb_checkpoints
.pytest_cache
.tox
.idea
src/pynoza.egg-info/
setup.c
git_ignore/
.idea/
dist/
src/pynoza.egg-info/

__pycache__/
.ipynb_checkpoints/

*.djvu
*.prof
# Latex
*.aux
*.fls
*.toc
*.out
*.lot
*.log
*.lof
*.blg
*.bbl
*.dvi
*.synctex.gz
*.fdb_latexmk
*.bcf
*.nav
*.run.xml
*.snm
*.bak

# Misc
meetings
*.avi
.~lock*
*.mph
*.mph.lock

docs/build/
docs/source/_*
docs/source/generated
